.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  margin-bottom: 20px !important;
}

.orderHeader {
  background-color: red;
  color: white;
}

.headerIcon{
  float: none;
  
}

.noOrders{
  font-size: 16px !important;
  float:none  !important;
  text-align: center  !important;
  width: 100%;
  color: #747373;
  margin-top:80% !important;
}

#orderList{
  
  ion-card {
    border: 1px solid gray;


.cardTopImage{
  margin-top: 40px !important;
  width: 350px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


    .buttonContainer{

      ion-button {
        margin-bottom: 10px;
        background-color: #a1f8d1;
        font-weight: bolder;
      }
    }
  }
    background-color: rgb(197, 38, 65);
    ion-label {
      font-size: 22px;
    }
 

    ion-card-title{
      font-size: 20px;
      color: #404040
    }

  

  ion-card-subtitle {
    font-size: 12px;
    margin-top: 15px;
  }

  ion-segment {
    padding-top: 10px;
  }

  ion-segment-button {
    width:25%;
    border: 1px solid grey;
  }

  ion-segment  ion-label{
    font-size: 10px;    
  }

.finsishButton{
  height: 70px;

}
  
}