.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.orderHeader {
  background-color: red;
}

#orderList{
  
    background-color: rgb(197, 38, 65);
  
 

    ion-card-title{
      color: #404040
    }

  ion-card-subtitle {
    margin-top: 15px;
  }

  .user{

  }
  
}