<ion-header >
  <ion-toolbar>
    <ion-title class="orderHeader">
        <img src="./../../assets/foodtrack_icon.png" class="headerIcon">
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="orderList">
    <ion-card *ngFor="let item of orderList" class="welcome-card" >
      <ion-img class="cardTopImage" [src]="getImagePath(item)"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>

        <ion-segment color="primary" class="stateRadio" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="READY">
              <ion-label>Ready</ion-label>
            </ion-segment-button>
            <ion-segment-button value="COOKING">
              <ion-label>Cooking</ion-label>
            </ion-segment-button>
            <ion-segment-button value="TO_DELIVER">
              <ion-label>To Deliver</ion-label>
            </ion-segment-button>
            <ion-segment-button value="CANCELLED">
              <ion-label>Cancelled</ion-label>
            </ion-segment-button>
          </ion-segment>

        <ion-card-subtitle>ID: {{ item.id }}</ion-card-subtitle>
        <ion-card-subtitle>PRICE: {{ item.price }} &euro;</ion-card-subtitle>
        <ion-card-subtitle class="user">USER: {{ item.user }} </ion-card-subtitle>
      </ion-card-header>
      <div class="buttonContainer">
        <ion-button fill="outline" expand="block" color="success" (click)="finishOrder(item)">Finish Order</ion-button>
      </div>
    </ion-card>



</ion-content>
